.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.logo {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-content: space-around;
}

/* Split the screen in half */
.split {
  height: 500px;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 10px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: gray;
  transition: all 0.2s ease-in-out;
  clip-path: polygon(0% 50%, 75% 50%, 100% 100%, 0% 100%);
}

/* Control the right side */
.right {
  right: 0;
  background-color: cyan;
  transition: all 0.2s ease-in-out;
  clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 25% 100%);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 100px;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.left:hover {
  transform: scale(1.33);
  transform-origin: left;
}

.right:hover {
  transform: scale(1.25);
  transform-origin: right;
}

.corpClientButtons {
  position: relative;
}

.quickSearch {
  display: flex;
  justify-content: space-around;
}

.searchButton {
  transform: scale(1.5);
}
